<%- include('../partials/header') %>

<br>
<!-- <a href="/properties/<%= property._id %>" class="back">back</a> -->
<br>
<br>
<div class="info">
<form action="/properties/<%= property._id %>/edit?_method=PUT" method="POST">
<h3>Address</h3>
<input type="text" name="address" value="<%= property.address %>">
<h3>City</h3>
<input type="text" name="city" value="<%= property.city %>">
<h3>State</h3>
<input type="text" name="state" value="<%= property.state %>">
<h3>Zip</h3>
<input type="number" name="zip" value="<%= property.zip %>">
<h3>Bedrooms</h3>
<input type="number" min="1" name="bedrooms" value="<%= property.bedrooms %>">
<h3>Bathrooms</h3>
<input type="number" min="1"  name="bathrooms" value="<%= property.bathrooms %>">
<h3>Pets</h3>
<input type="checkbox" name="pets" class="checkbox">
<h3>Yard</h3>
<input type="checkbox"  name="yard" class="checkbox">
<h3>Pool</h3>
<input type="checkbox" name="pool" class="checkbox">
<br><br>
<button type="submit" class="submit">update</button>
</form>
</div>

<%- include('../partials/footer') -%>
