<%- include('../partials/header') %>

<h3>Address:</h3>
<h5><%= property.address %></h5>
<h5><%= property.city %>, <%= property.state %> <%= property.zip %></h5>
<h3>Bedrooms:</h3>
<h5><%= property.bedrooms %></h5>
<h3>Bathrooms:</h3>
<h5><%= property.bathrooms %></h5>
<h3>Pets:</h3>
<h5><%= property.pets ? 'Yes' : 'No' %></h5>
<h3>Yard:</h3>
<h5><%= property.yard ? 'Yes' : 'No' %></h5>
<h3>Pool:</h3>
<h5><%= property.pool ? 'Yes' : 'No' %></h5>
<br />
<h3>To Do:</h3>
<form action="/todos/<%= property._id %>" method="POST">
  <select name="todoCategory">
    <% property.schema.path('todo').schema.path('todoCategory').enumValues.forEach(function(todoCategory) { %>
    <option value="<%= todoCategory %>"><%= todoCategory %></option>
    <% }); %>
  </select>
  - <input type="text" name="todoItem" />
  <button type="submit">Submit</button>
</form>
<ul>
  <% property.todo.forEach(todo => { %>
  <li><%= todo.todoCategory %> - <%= todo.todoItem %></li>
  <% }); %>
</ul>

<%- include('../partials/footer') %>